html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 114rem;
  height: 100vh;
  padding: 0;
  margin: 0;
}

:root {
  --primary-font__family: 'Caveat', cursive;
  --secondary-font__family: 'Montserrat', cursive;
  --primary-font__size: 2.4rem;
  --secondary-font__size: 1.6rem;
  --tertiary-font__size: 3.2rem;
  --darkslateblue: #483d8b;
  --thistle: #d8bfd8;
  --m: 1rem;
  --p: 2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font__family);
}

.para,
.contact-link {
  font-family: var(--secondary-font__family);
}

.contact-link {
  display: block;
  text-decoration: none;
}

.intro,
.summary,
.experience,
.education,
.licenses {
  padding-left: var(--p);
  padding-right: var(--p);
  text-align: justify;
}
